

body {
    
    display: flex;
    justify-content: center;
    height: 100vh;
    
       

}

.contenedor{

   
    width: 1440px;
    background-color: white;
   
}

/* HEADER */

header{

    display: flex;
    align-items: center;
    justify-content: center;      
}

main{

height: 100vw;


    
}

/*ZigZag*/
.zonainferior{

   display: flex;
   align-items: center;
   padding: 20px;
   flex-direction: row-reverse;


}
.zonainferior__imagen{

   
    
}
.zonainferior__texto{

padding: 10px;

}
.zonasuperior{

    display: flex;
   align-items: center;
   padding: 20px;
   
   

}
.zonasuperior__imagen{



}
.zonasuperior__texto{

    display: flex;
    padding: 10px;
}

/*Header*/

.logo{

    
}

.menuPrincipal{

    display: flex;
    flex-grow: 1;
    align-items:center;
    justify-content:space-around;
    
}
.menuPrincipal__contactar{

}
.menuPrincipal__galeria{

}
.menuPrincipal__inicio{

}
.menuPrincipal__servicios{

}

/*Banner*/

.banner{

    display: flex;
    justify-content: center;
}


/*Footer*/

footer{

   
    padding: 20px;
    justify-content: end;
    height: 300px;
    
    
}

.links{
    display: flex;
   
    

}

/*Legal*/

.acercade{

    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 20px;
    

}
.legal__avisoslegales{

}
.legal__condicionesdeuso{

}
.legal__garantia{

}
.legal__historia{

}
.legal__inversores{

}

/*Terminos*/

.terminos{
    
    display: flex;
    padding: 20px;
    flex-grow: 1;
    flex-direction: column;

}
.terminos__avisoslegales{

}.terminos__condicionesdeuso{

}
.terminos__politicadeprivacidad{

}
.terminos__titulo_terminos{

}
.terminos__usodecookies{

}

/*Social*/


.social{

    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 0,2;

}
.social__facebook{

}
.social__pinterest{

}
.social__titulo_redesociales{

}
.social__twitter{

}
.terminos{



}

.copyright{

    display: flex;
    justify-content: center;


}



