/*TIPOGRAFIAS*/

/* **** */

@font-face{

    font-family: ;
    src: url;
    
}

p{

    font-size: 21px;
    font-family: sans-serif;
}

.menuPrincipal{

}
a{

    font-family: sans-serif;
}
    
.footer{

    font-size: 18px;
}